body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.input-results-container {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    position: relative;
}

.input-results-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.start-input-form {
    justify-content: left;
    align-items: center;
    margin-bottom: -17px;
}

.results-wrapper {
    border-right: 1px solid #c2d5eb;
    border-left: 1px solid #c2d5eb;
    border-bottom: 1px solid #c2d5eb;
    border-radius: 2px;
    display: none;
    /* display: block; -- on show (with JS) */
    position: absolute;
    top: 105%;
    left: 0;
    z-index: 1;
    min-width: 100%;
}

.filter-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 30px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
    /* padding-top: 10px; */
    /* margin-top: -5px; */
}

.btn.btn-primary.filter-btn {
    line-height: 0%;
    height: min-content;
    min-height: 20px;
    padding: 3px;
    margin-right: 3px;
    font-size: 14px;
    margin-top: auto;

}

#results-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 3px solid #f2f2f2;
    border-radius: 1px;
    max-height: 55vh;
    overflow: auto;
}

#results-container button {
    padding: 5px;
    background-color: white;
    border: 0px solid white;
    border-bottom: 1px solid #e4eaf4;
    display: block;
    width: 100%;
}

#results-container button:hover{
    background-color: #f2f2f2;
}

.btn.btn-outline-primary.btn-sm:focus,
.btn.btn-outline-primary.btn-sm:active {
    color: #fff;
    background-color: #0d6efd;
}

#photo {
    height: 50px;
    width: auto;
}

.label-container {
    display: flex;
    justify-content: center;
}

.label {
    text-align: left;
    padding: 10px;
}

/* .nf {
    color: red;
    background-color: yellow;
    width: 500px;
    border: 4px solid blue;
    border-radius: 4px;
}

.nf-bar1, .nf-bar2 {
    background-color: green;
} */

.item-container {
    display: flex;
    align-items: center;
}

.item-container .item-thumbnail,
.item-container .item-content {
    display: flex;
    align-items: center;
}

.item-container:hover{
    background-color: #f2f2f2;
}

.item-thumbnail {
    position: relative;
    bottom: 50%;
    transform: translateY(50%);
    width: 100px;
    float: left;
    padding-left: 15px;
    margin-right: -20px;
}

.item-thumbnail img {
    display: block;
    max-height: 25px;
    height: auto;
    max-width: 25px;
    width: auto;
} 

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.item-left-content {
    text-align: left;
}

.item-food-name {
    font-size: larger;
}

.item-brand-name {
    font-size: smaller;
}

.item-right-content {
    text-align: center;
    padding-right: 20px;
}

.item-calories {
    font-size: larger;
    font-weight: bolder;
    color: #00d435d7;
}

.item-cals {
    font-size: smaller;
}

.modal-content-wrapper {
    width: auto;
}

.modal-selector-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.form-control.add-food{
    margin-right: 20px;
    width: 100px;
    /* border: 1px solid #0d6efd; */

}

.form-select.add-food {
    margin-left: 20px;
    width: fit-content;
    /* border: 1px solid #0d6efd; */
}

.modal-nutrition-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d6efd;
    border-radius: 4px;
    padding: 10px;
}

#modal-nutrition-1st {
    padding: 10px;
    font-weight: bold;
    color: #0d6efd;
}

#modal-nutrition-2nd {
    padding: 10px;
}

#modal-nutrition-3rd {
    padding: 10px;
}

.nutrient-pair {
    display: flex;
    justify-content: space-between;
}

.inline-items {
    /* display: block; */
    display: flex;
    justify-content: space-between;
    font-size: 80%;
    /* text-align: left; */
    color: #0d6efd;
}

.sub-inline-items {
    /* display: block; */
    display: flex;
    justify-content: space-between;
    font-size: 70%;
    color: #6e9de2;
    text-indent: 15px;
    /* text-align: left; */
}

.nutrient-name {
    font-weight: bold;
    text-align: left;
    width: 75px;
}

.sub-inline-items .nutrient-amount {
    margin-left: -15px;
}

.vertical-line {
    border-left: 1px solid #0d6efd;
    height: 75px;
    padding: 5px;
}

#meal-alert,
#account-alert {
    border: 1px solid #e31b2b;
    border-radius: 5px;
    color: #EA868F;
    background-color: #4e060c;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    height: max-content;
    min-height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: -5px;
}

#account-current-macro-total {
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: -10px;

}

.tracker-wrapper {
    display: flex;
    justify-content: center; /* Horizontally center the .tracker-container */
    align-items: center; /* Vertically center the .tracker-container */
  }

.tracker-container {
    flex-direction: row;
    width: 50%;
}

.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-day {
    min-width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #0d6efd;
}

.btn-date {
    margin: 5px;
}

.summary-container {
    display: flex;
    /* margin-bottom: 15px; */
    margin-top: 5px;
    background-color: #e4eaf4;
    border-right: 1px solid #c2d5eb;
    border-left: 1px solid #c2d5eb;
    border-top: 1px solid #c2d5eb;
    border-radius: 4px;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.summary-header {
    font-weight: bold;
}

#over-under {
    border-radius: 5px;
    color: #fff;
    padding-right: 4px;
    padding-left: 4px;
}

.meal-container {
    border: 1px solid #c2d5eb;
    border-radius: 4px;
    display: block;
    /* width: 50%; */
}

.meal-heading {
    background-color: #e4eaf4;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}

.meal-log-container {
    min-height: 70px;
    position: relative;
}

.food-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
    position: relative;
}

.log-food-name {
    min-width: 385px; /* Expand to take most space */
    max-width: 385px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    text-align: left;
    margin-left: 8px;
}

/* .log-food-name:hover {
    overflow: auto;
    content: initial;
} */

.serving-and-cals-container {
    display: flex;
    align-items: center; 
}

.serving-container {
    min-width: 200px;
    max-width: 200px;
    /* white-space: nowrap;
    overflow: auto; */
    text-align: left;
}

.log-cals {
    margin-left: 8px; /* Add spacing between elements */
    margin-right: 8px;
    text-align: left;
}
  
.btn.btn-danger.delete-btn {
    font-size: small;
    margin-right: 10px;
    padding: 0px;
    min-width: 22px;
    color: #fff;
    background-color: #e4eaf4;
    border: none;
    border-radius: 20%;
}

.btn.btn-danger.delete-btn:hover,
.btn.btn-danger.delete-btn.active {
    background-color: #dc3545;
}

.btn.btn-danger.delete-btn:focus {
    outline: none;
    box-shadow: none;
}

.no-log {
    color: #bbbbbb;
    font-style: italic;
    text-align: left;
    margin-left: 25px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.confirm-delete-food {
    color: #0d6efd;
    font-weight: bold;
}

.account-form-wrapper {
    display: flex;
    justify-content: center; /* Horizontally center the .tracker-container */
    align-items: center; /* Vertically center the .tracker-container */
  }

.account-form-container {
    flex-direction: row;
    width: 380px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.input-group-text.macro {
    width: 77px;
    align-items: center;
    position: relative;
}

.percentage-sign {
    position: absolute;
    left: 120px;
    top: 50%;
    transform: translateY(-50%);
}
