{% extends "layout.html" %}

{% block title %}
Account
{% endblock %}

{% block main %}

<div class="account-form-wrapper">
    <div class="account-form-container">
        <div class="account-form">
            <form id="account-details-form" method="post" action="/account">
                <legend>Account Details</legend>
                <div class="mb-3">
                    <label for="account-bmr" class="form-label">BMR</label>
                    <input required type="number" class="form-control" id="account-bmr" placeholder="Basal Metabolic Rate">
                </div>
                <div class="mb-3">
                    <label for="account-weight" class="form-label">Weight</label>
                    <div class="input-group mb-3">
                        <input required type="number" class="form-control" id="account-weight" placeholder="Current Weight">
                        <span class="input-group-text" id="account-weight-addon">lbs</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="account-weight-goal" class="form-label">Weight Goal</label>
                    <select required class="form-select" id="account-weight-goal">
                        <option disabled selected value="">Are you trying to...</option>
                        <option value="maintain">Maintain weight</option>
                        <option value="lose">Lose weight</option>
                        <option value="gain">Gain weight</option>
                    </select>
                </div>
                <div class="mb-3">
                    <!-- hide this input until weight goal selection made -->
                    <!-- if maintain is selected, keep hidden or show with 0 selected -->
                    <label for="account-goal-per-week" class="form-label">Weekly</label>
                    <select required class="form-select" id="account-goal-per-week">
                        <!-- fill disabled selected text with Gain or Lose with JS based off weight goal selection -->
                        <!-- fill each option with Gain 0.5lbs or Lose 0.5lbs... etc with JS based off weight gain selection -->
                        <option disabled selected value="">Gain</option>
                        <option value="0.5">0.5 lbs</option>
                        <option value="0.5">1.0 lb</option>
                        <option value="0.5">1.5 lbs</option>
                        <option value="0.5">2.0 lbs</option>
                    </select>
                </div>
                <div class="mb-3" id="view-account-budget" style="display: none;">
                    <label for="account-budget" class="form-label">Daily Calorie Budget</label>
                    <input class="form-control" id="account-budget" type="text" value="2350" aria-label="Calorie Budget" disabled readonly>
                    <div class="form-text">Calorie Budget = BMR + daily cals from weekly weight goal</div>
                </div>
                <div class="mb-3">
                    <label for="account-macro-protein" class="form-label">Macronutrient Targets</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text macro">Fat</span>
                        <input required type="number" class="form-control" id="account-macro-fat" min="0" max="100" step="1">
                        <!-- hidden until % typed in then grams populated by taking percentage * total budget taking into account calories/gram -->
                        <span class="input-group-text">0g</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text macro">Carbs</span>
                        <input required type="number" class="form-control" id="account-macro-carbs" min="0" max="100" step="1">
                        <!-- hidden until % typed in then grams populated by taking percentage * total budget taking into account calories/gram -->
                        <span class="input-group-text">0g</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text macro">Protein</span>
                        <input required type="number" class="form-control" id="account-macro-protein" min="0" max="100" step="1">
                        <!-- hidden until % typed in then grams populated by taking percentage * total budget taking into account calories/gram -->
                        <span class="input-group-text">0g</span>
                    </div>
                    <!-- keep form-text hidden unless percentages don't total to 100% -->
                    <div id="account-current-macro-total">Current macronutrients total:</div>
                    <div id="account-alert" style="display: none;">Macro targets must total to 100%</div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}