{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<h4>JTrack Food Search</h4>
<div class="input-results-container">
    <div class="input-results-wrapper">
        <form method="post" action="/">
            <div>
                <input autocomplete="off" autofocus class="form-control input-form" type="text" id="food-search" name="food-search" placeholder="Search for a food">
            </div>
        </form>
        <div class="results-wrapper">
            <div class="filter-buttons-container">
                <button class="btn btn-primary filter-btn" id="filter" data-type="all">All</button>
                <button class="btn btn-primary filter-btn" id="filter" data-type="common">Common</button>
                <button class="btn btn-primary filter-btn" id="filter" data-type="branded">Branded</button>
            </div>
            <div id="results-container">
                <button class="item-container">
                    <div class ="item-thumbnail">
                        <img src="https://nix-tag-images.s3.amazonaws.com/542_thumb.jpg">
                    </div>
                    <div class ="item-content">
                        <div class = "item-left-content">
                            <div class="item-food-name" >Heading</div>
                            <div class="item-brand-name">Sub Heading</div>
                        </div>
                        <div class="item-right-content">
                            <div class="item-calories" >72</div>
                            <div class="item-cals" >cals</div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock %}