{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <h1>JTrack Food Search</h1>
    <form method="post" action="/">
        <input autocomplete="off" type="text" id="food-search" name="food-search" placeholder="Search for a food">
    </form>
    <div>
        <button class="tabs" data-type="all">All</button>
        <button class="tabs" data-type="common">Common</button>
        <button class="tabs" data-type="branded">Branded</button>
    </div>
    <ul id="results"></ul>


{% endblock %}